<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Utilisateurs</ui:define>
    <ui:define name="content">
        <h:form>
            <div class="row">
                <div class="col s12">
                    <h:link class="btn-floating btn-card blue btn-large" title="Ajouter" outcome="create-user">
                        <i class="small material-icons">add</i>
                    </h:link>
                </div>
            </div>
            <div class="row">
                <h:dataTable id="users" class="striped mdl-data-table" value="#{userController.users}" var="user">
                    <h:column>
                        <f:facet name = "header">Nom</f:facet>    				
                            #{user.lastname}
                    </h:column>

                    <h:column>
                        <f:facet name = "header">Prénom</f:facet>    				
                            #{user.firstname}
                    </h:column>

                    <h:column>
                        <f:facet name = "header">Email</f:facet>    				
                            #{user.email}
                    </h:column>

                    <h:column >
                        <f:facet name = "header">Groupes</f:facet>    				

                        <ui:repeat value="#{user.groups}" var="g">
                            #{g.name}
                        </ui:repeat>
                    </h:column>
                    <h:column >
                        <f:facet name = "header">Actions</f:facet>                    
                        <h:link outcome="update-user" title="Modifier" >
                            <f:param name="userId" value="#{user.id}"/>
                            <i class="small material-icons ">edit</i>
                        </h:link>
                        <h:commandLink action="#{userController.delete}" title="Supprimer">
                            <i class="small material-icons color-remove">delete</i>
                        </h:commandLink>
                    </h:column>
                </h:dataTable>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
