<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h5="http://xmlns.jcp.org/jsf/passthrough">
    <f:metadata>
        <f:event listener="#{userController.accessUser(event)}" type="preRenderView" />
        <f:viewParam name="userId" value="#{userController.userId}" />
    </f:metadata>
    <ui:define name="title">#{userController.getTitle("update")}</ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <div class="left-align">
                            <h:form>
                                <p:messages id="messages" showDetail="false" closable="true"/>
                                <div class="row">
                                    <div class="col s6 input-field">
                                        <h:inputText id="lastname" value="#{userController.current.lastname}" required="true" requiredMessage="Le champ Nom est requis" />
                                        <h:outputLabel for="lastname" value="Lastname"  />
                                    </div>
                                    <div class="col s6 input-field">
                                        <h:inputText id="firstname" value="#{userController.current.firstname}" required="true" requiredMessage="Le champ Prénom est requis" />
                                        <h:outputLabel for="firstname" value="Prénom"  />
                                    </div>
                                    <div class="col s12 input-field">
                                        <h:inputText id="email" value="#{userController.current.email}" h5:type="email" required="true" requiredMessage="Le champ Email est requis" />
                                        <h:outputLabel for="email" value="Email"  />
                                    </div>
                                    <div class="center-align col s3 input-field">
                                        <h:link outcome="create-group" title="Ajouter un groupe" class="btn-floating btn-card purple btn-large">
                                            <f:param name="userId" value="#{userController.current.id}"/>
                                            <i class="small material-icons">group_add</i>
                                        </h:link>
                                    </div>
                                    <div class="center-align col s3 input-field">
                                        <h:link outcome="create-album" title="Ajouter un album" class="btn-floating btn-card teal btn-large">
                                            <f:param name="userId" value="#{userController.current.id}"/>
                                            <i class="small material-icons">library_add</i>
                                        </h:link>
                                    </div>
                                    <div class="center-align col s3 input-field">
                                        <h:commandLink class="btn-floating btn-card blue btn-large" title="Enregistrer" action="#{userController.update}">
                                            <i class="medium material-icons">save</i>
                                        </h:commandLink>
                                    </div>
                                    <div class="center-align col s3 input-field">
                                        <h:commandLink class="btn-floating btn-card red btn-large" title="Supprimer" action="#{userController.delete}">
                                            <i class="medium material-icons">delete</i>
                                        </h:commandLink>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>