<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:h5="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="userId" value="#{groupController.ownerId}" />
    </f:metadata>
    <ui:define name="title">Création groupe</ui:define>
    <ui:define name="content">
            <h:form>
                <p:panelGrid columns = "3" class="no-borders">
                    <label for="lastname">Nom:</label>
                    <h:inputText id="lastname" h5:placeholder="Mon groupe" value="#{groupController.current.name}"/>
                    <h:message for="lastname"/>
                </p:panelGrid>
                <label>Membres:</label>
                <p:selectManyCheckbox id="basic" value="#{groupController.current.members}">
                    <f:selectItems value="#{userController.listUsers}"  var="user" itemLabel="#{user.email}"/>
                </p:selectManyCheckbox>
                <p:commandButton value="Créer" action="#{groupController.create}"/>
                <h:messages globalOnly="true"/>
            </h:form>
    </ui:define>
</ui:composition>


