<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h5="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">Erreur 403</ui:define>
    <ui:define name="content">
        <div class="row">
            <p>Accès refusé !</p> 
            <p>Désolé vous n'avez pas les droit pour accéder à la page demandé</p>
        </div>
    </ui:define>
</ui:composition>

