<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>

        <title><ui:insert name="title">Default title</ui:insert></title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"/>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-blue.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="style.css"  />
           
            <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
                <ui:include src="/components/header.xhtml" />
            </header>
            <main>
                <div class="container">
                    <div class="center-align">
                        <div class="container">
                            <h1><ui:insert name="title">Title</ui:insert></h1>
                        </div>
                        <p:messages id="messages" globalOnly="true" showDetail="false" closable="true"/>
                        <ui:insert name="content">Default content</ui:insert> 
                    </div>      
                </div>
            </main>
            <footer class="page-footer">
                <ui:include src="/components/footer.xhtml" />
            </footer>
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
        <h:outputScript library="js" name="materialize.min.js"  target="head" /> 
        <h:outputScript library="js" name="script.js" /> 
    </h:body>
</html>

