<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:h5="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:event listener="#{albumController.accessAlbum(event)}" type="preRenderView" />
        <f:viewParam name="userId" value="#{albumController.ownerId}" />
    </f:metadata>
    <ui:define name="title">Création album</ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <div class="left-align">
                            <h:form enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col s12 input-field">
                                        <h:inputText id="title" required="true" requiredMessage="Titre obligatoire" value="#{albumController.current.title}"/>
                                        <h:outputLabel for="title" value="Titre"  />
                                        <h:message for="title"/>
                                    </div>
                                    <div class="col s12 input-field">
                                        <h:inputText id="description" value="#{albumController.current.description}"/>
                                        <h:outputLabel for="description" value="Description" />
                                        <h:message for="description"/>
                                    </div>
                                    <div class="center-align col s12 input-field">
                                        <h:commandButton id="submit" class="btn btn-large" value="Créer" action="#{albumController.create}"/>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>


