<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui/material">
    <ui:define name="title">Albums</ui:define>
    <ui:define name="content">
        <h:form rendered="#{not empty albumController.albums}">
            <div class="row">
                <div class="col s12">
                    <h:link class="btn-floating btn-card blue btn-large" outcome="create-album">
                        <f:param name="userId" value="#{sessionTools.connectedUser.id}"/>
                        <i class="small material-icons">add</i>
                    </h:link>
                </div>
            </div>
            <div class="row">
                <ui:repeat value="#{albumController.albums}" var="album">
                    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter bigbang">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <h:graphicImage class="responsive-img"  rendered="#{albumController.current.pictures.size() > 0}" value="#{albumController.current.pictures[0].mediumPath}" />
                                <img class="activator" src="#{resource['images/styles/default-thumbnail.jpg']}" rendered="#{albumController.current.pictures.size() == 0}"/>
                            </a>
                            <div class="gallery-header">
                                <span>#{album.title}</span>
                            </div>
                            <div class="gallery-body">
                                <h:link outcome="update-album" title="Modifier" class="btn-floating btn-card blue btn-large">
                                    <f:param name="albumId" value="#{album.id}"/>
                                    <i class="small material-icons">edit</i>
                                </h:link>
                                <h:commandLink action="#{albumController.delete}" title="Supprimer" class="btn-floating btn-card btn-large red">
                                    <i class="small material-icons icon-salmon">delete</i>
                                </h:commandLink>
                            </div>
                        </div>
                    </div>
                </ui:repeat>  
            </div>
        </h:form>
    </ui:define>
</ui:composition>

