<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:h5="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:event listener="#{albumController.accessAlbum(event)}" type="preRenderView" />
        <f:viewParam name="albumId" value="#{albumController.albumId}" />
    </f:metadata>
    <ui:define name="title">Modification album</ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col s3">
                <div class="card">
                    <div class="card-content">
                        <div class="left-align">
                            <h:form enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col s12 input-field">
                                        <h:inputText id="title" required="true" requiredMessage="Titre obligatoire" value="#{albumController.current.title}"/>
                                        <h:outputLabel for="title" value="Titre"  />
                                        <p:message for="title"/>
                                    </div>
                                    <div class="col s12 input-field">
                                        <h:inputText id="description" value="#{albumController.current.description}"/>
                                        <h:outputLabel for="description" value="Description" />
                                        <p:message for="description"/>
                                    </div>
                                    <div class="center-align col s6 input-field">
                                        <h:commandLink class="btn-floating btn-card blue btn-large" title="Enregistrer" action="#{albumController.update}">
                                            <i class="medium material-icons">save</i>
                                        </h:commandLink>
                                    </div>
                                    <div class="center-align col s6 input-field">
                                        <h:link class="btn-floating btn-card teal btn-large" outcome="create-picture">
                                            <f:param name="albumId" value="#{albumController.current.id}"/>
                                            <i class="small material-icons">add_a_photo</i>
                                        </h:link>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s9">
                <div id="portfolio" class="section gray">
                    <div class="container">
                        <div class="gallery row">
                            <ui:repeat value="#{albumController.current.pictures}" var="picture" rendered="#{not empty albumController.current.pictures}">
                                <div class="col l4 m6 s12 thumbnail">
                                    <h:graphicImage  value="#{picture.thumbnailPath}" />
                                    <h:link outcome="update-picture"  title="Modifier" class="btn-floating btn-card blue btn-large">
                                        <f:param name="pictureId" value="#{picture.id}"/>
                                        <i class="small material-icons">edit</i>
                                    </h:link>
                                </div>
                            </ui:repeat>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>


