<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:h5="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:mp="http://primefaces.org/ui/material"
                xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:event listener="#{pictureController.accessPicture(event)}" type="preRenderView" />
        <f:viewParam name="albumId" value="#{pictureController.albumId}" />
    </f:metadata>
    <ui:define name="title">Création photo</ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <div class="left-align">
                            <h:form enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col s12 input-field">
                                        <div><h:outputLabel for="file" value="Image" /></div>
                                        <div>   
                                            <p:fileUpload id="file" value="#{pictureController.file}" fileUploadListener="#{pictureController.fileUploadListener}" update="messages"
                                                          mode="simple" required="true" requiredMessage="Le champs Fichier est obligatoire" sizeLimit="1000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" >
                                                <f:validateRequired />
                                            </p:fileUpload>
                                            <p:growl id="messages" showDetail="true"/>
                                        </div>
                                    </div>
                                    <div class="col s12 input-field">
                                        <h:inputText id="description" value="#{pictureController.current.description}"/>
                                        <h:outputLabel for="description" value="Description" />
                                        <h:message for="description"/>
                                    </div>

                                    <div class="col s3 input-field">
                                        <button data-target="modal1" class="btn modal-trigger">
                                            <i class="medium material-icons">my_location</i>
                                            <span>Lieux</span>
                                        </button>
                                        <!-- Modal Structure -->
                                        <div id="modal1" class="modal">
                                            <div class="modal-content">
                                                <h4>Ajouter des lieux</h4>
                                                <div>
                                                    <p:chips id="place" value="#{pictureController.current.places}"/>
                                                    <h:message for="place"/>  
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                                            </div>
                                        </div>
                                    </div>                      
                                    <div class="col s3 input-field">
                                        <button data-target="modal2" class="btn modal-trigger">
                                            <i class="medium material-icons">label</i>
                                            <span>Tags</span>
                                        </button>
                                        <div id="modal2" class="modal">
                                            <div class="modal-content">
                                                <h4>Ajouter des mots-clés</h4>
                                                <div>
                                                    <p:chips id="tags" value="#{pictureController.current.tags}"/>
                                                    <h:message for="tags"/>  
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s3 input-field">
                                        <button data-target="modal3" class="btn modal-trigger">
                                            <i class="medium material-icons">people</i>
                                            <span>Personnes</span>
                                        </button>
                                        <div id="modal3" class="modal">
                                            <div class="modal-content">
                                                <h4>Identifier des utilisateurs</h4>
                                                <div>
                                                    <p:selectManyCheckbox id="basic" value="#{pictureController.current.usersTagged}">
                                                        <f:selectItems value="#{userController.listUsers}" var="user" itemLabel="#{user.email}"/>
                                                    </p:selectManyCheckbox>
                                                    <h:message for="users"/> 
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s3 input-field">
                                        <h:inputText id="date" class="datepicker" value="#{pictureController.current.date}">
                                            <f:convertDateTime pattern="dd-MM-yyyy"/>  
                                        </h:inputText>
                                        <h:outputLabel for="date" value="Date"  />
                                        <h:message for="date"/>
                                    </div>
                                    <div class="center-align col s12 input-field">
                                        <h:commandButton id="submit" class="btn btn-medium" value="Créer" action="#{pictureController.create}"/>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>


