<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <body>
        <ui:composition>
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">INFORMATIONS</h5>
                        <p class="grey-text text-lighten-4">Instamiashs un outil communautaire de partage de photos.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Liens</h5>
                        <ul>
                            <li> <h:link value="Accueil"  outcome="/home"/></li>
                            <li> <h:link value="Albums"  outcome="list-albums"/></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    ©  Copyright 2020 - Développé par Marty Marc-Antoine - Thubé Pierre
                    <a class="grey-text text-lighten-4 right" href="#!">Mentions Légales</a>
                </div>
            </div>			
        </ui:composition>
    </body>
</html>

