<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition>
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">On a tant à partager</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font no-shadows transparent">
                    <h:link class="mdl-navigation__link" value="Accueil"  outcome="/home"/>
                    <h:link  class="mdl-navigation__link" value="Utilisateurs"  outcome="list-users" rendered="#{sessionTools.admin}" />
                    <h:link class="mdl-navigation__link" value="Albums"  outcome="list-albums"/>
                    <h:link class="mdl-navigation__link" title="Mon compte" outcome="update-user"  rendered="#{!sessionTools.notLogged}">
                        <f:param name="userId" value="#{sessionTools.connectedUser.id}"/>
                        <i class="medium material-icons">account_circle</i>
                    </h:link>
                    <h:link class="mdl-navigation__link" title="Connexion" outcome="login"   rendered="#{sessionTools.notLogged}">
                        <i class="medium material-icons">account_circle</i>
                    </h:link>
                    <h:form>
                        <h:commandLink class="mdl-navigation__link" title="Déconnexion" action="#{sessionTools.logout}" rendered="#{!sessionTools.notLogged}">
                            <i class="medium material-icons">power_settings_new</i>
                        </h:commandLink>
                    </h:form>
                </nav>
            </div>				
        </ui:composition>
    </body>
</html>

