<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h5="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="metadata"><f:viewAction  action="home"/></ui:define>
    <ui:define name="title">Recherche</ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col s12">
                <h:form>
                    <div class="row">
                        <div class="input-field col s3">
                            <p:autoComplete                                 
                                id="users"
                                h5:placeholder="Utilisateur"  
                                completeMethod="#{searchController.completeUserContains}"
                                var="user"
                                value="#{searchController.searchUserId}"
                                itemLabel="#{user.fullName}" 
                                itemValue="#{user.id}" 
                                forceSelection="true"
                                >
                                <p:ajax event="itemSelect" listener="#{searchController.handleSelect}" />
                                <p:column>
                                    <i class="medium material-icons">account_circle</i>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{user.fullName}" />
                                </p:column>
                            </p:autoComplete>
                        </div>
                        <div class="input-field col s3">
                            <p:inputText id="place" h5:placeholder="Lieu" value="#{searchController.searchPlace}" />
                        </div>
                        <div class="input-field col s3">
                            <p:inputText id="search" h5:placeholder="Mot clé" value="#{searchController.searchWord}" />
                        </div>
                        <div class="input-field col s2">
                            <h:inputText id="date" h5:placeholder="Date" class="datepicker" value="#{searchController.searchDate}">
                                <f:convertDateTime pattern="dd-MM-yyyy"/>  
                            </h:inputText>
                        </div>
                        <div class="input-field col s1">
                            <p:commandLink class="mdl-navigation__link" title="Rechercher" action="#{searchController.search()}" update="pictures">
                                <i class="medium material-icons">search</i>
                            </p:commandLink>
                        </div>
                    </div>
                   
                    <div class="row">
                         <h:panelGroup rendered="#{sessionTools.admin}" >
                        <div class="input-field col s3">
                            <div>Mes photos uniquement</div>
                            <div class="switch">
                                <label>
                                    Non
                                    <h:selectBooleanCheckbox value="#{searchController.searchOnlyPicturesUser}" />
                                    <span class="lever"></span>
                                    Oui
                                </label>
                            </div>
                        </div>
                    </h:panelGroup>
                        <div class="input-field col s8">
                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">filter_list</i>Filtre Avancé</div>
                                    <div class="collapsible-body">
                                        <h:selectOneMenu  value="#{searchController.annotationsFilter.entrySet()}" class="browser-default" >
                                            <f:selectItem itemValue="#{null}" itemLabel="-- Choisissez votre option --" />
                                            <f:selectItems value="#{searchController.annotationsFilter.entrySet()}" var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}" />
                                        </h:selectOneMenu>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div id="portfolio" class="section gray">
                            <div class="container">
                                <div class="gallery row">
                                    <h:panelGroup id="pictures">
                                        <h:outputText rendered="#{empty searchController.pictures}" value="Aucune photo disponible" />
                                        <ui:repeat value="#{searchController.pictures}" var="picture" rendered="#{not empty searchController.pictures}">
                                            <div class="col l4 m6 s12 thumbnail-medium">
                                                <h:graphicImage class="materialboxed" value="#{picture.mediumPath}" />
                                            </div>
                                        </ui:repeat>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>
