<ui:composition template="/templates/layout.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="title">Utilisateur Inconnu</ui:define>
    <ui:define name="content">
        <div>Adresse email et mot de passe inconnus. Veuillez réessayer</div>
    </ui:define>
</ui:composition>