<ui:composition template="/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h5="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">Utilisateur</ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col s5">
                <h2>Connexion</h2>
                <div class="card">
                    <div class="card-content">
                        <div class="left-align">
                            <h:form id="login" onsubmit="document.getElementById('login').action = 'j_security_check';" prependId="false">
                                <div class="row">
                                    <div class="col s12 input-field">
                                        <h:inputText id="j_username" required="true" requiredMessage="Identifiant requis"/>
                                        <h:outputLabel for="j_username" value="Username"  />
                                    </div>
                                    <div class="col s12 input-field">
                                        <h:inputSecret id="j_password" required="true" requiredMessage="Mot de passe requis"/>
                                        <h:outputLabel for="j_password" value="Password" />
                                    </div>
                                    <div class="center-align col s12 input-field">
                                        <h:commandButton id="submit" class="btn btn-medium" value="Connexion" />
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s7">
                <h2>Inscription</h2>
                <div class="card">
                    <div class="card-content">
                        <div class="left-align">
                            <h:form >
                                <div class="row">
                                    <div class="col s6 input-field">
                                        <h:inputText id="lastname" value="#{userController.current.lastname}" required="true" requiredMessage="Le champ Nom est requis" />
                                        <h:outputLabel for="lastname" value="Nom"  />
                                    </div>
                                    <div class="col s6 input-field">
                                        <h:inputText id="firstname" value="#{userController.current.firstname}" required="true" requiredMessage="Le champ Prénom est requis" />
                                        <h:outputLabel for="firstname" value="Prénom"  />
                                    </div>
                                    <div class="col s12 input-field">
                                        <h:inputText id="email" value="#{userController.current.email}" h5:type="email" required="true" requiredMessage="Le champ Email est requis" />
                                        <h:outputLabel for="email" value="Email"  />
                                    </div>
                                    <div class="col s12 input-field">
                                        <h:inputSecret id="password" value="#{userController.current.password}" required="true" requiredMessage="Le champ Mot de passe est requis" />
                                        <h:outputLabel for="password" value="Mot de passe"  />
                                    </div>                                
                                    <div class="center-align col s12 input-field">
                                        <h:commandButton value="Inscription" action="#{userController.create}" id="submit" class="btn btn-medium"/>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>

